* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222831;
    color: #F5F3F7;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
nav {
    background: #8B5FBF;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 3.4rem;
    box-shadow: 0px 20px 20px 0px #00000085;
    z-index: 2;
}

.container .left {
    font-size: 1.4rem;
    padding: 14px 14px;
    margin: 0 50px;
    color: #F5F3F7;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.container .right {
    padding: 14px 14px;
    font-family: 'Roboto', sans-serif;
    /* position: relative; */
}

.container .toggle {
    display: none;
}

.container .dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    display: none;
    font-size: 2rem;
    background-color: #000000da;
    color: #ffffff;
    text-align: center;
}

.container .dropdown ul li {
    z-index: 10;
    list-style: none;
}

.container .dropdown a {
    text-decoration: none;
    color: #ffffff;
}


.container .dropdown ul li:hover {
    background-color: #222831;
}

.container .right .items {
    display: flex;
    justify-content: center;
}

.container .right .items li {
    list-style: none;
    margin: 0 22px;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

.container .right .items a {
    text-decoration: none;
    color: #F5F3F7;
}

/* navbar ends */


/* footer */
footer {
    background: #8B5FBF;
    color: #F5F3F7;
    height: 3.4rem;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px -5px 20px 0px #000000;
}

.foot {
    display: flex;
    justify-content: center;
    padding: 14px;
}

/* footer ends */


/* Main Starts */
.title {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}


.main1 {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.main1 .rightz {}

.main1 .rightz p {
    text-align: justify;
    padding: 4rem;
    font-size: 1.5rem;
    text-indent: 2.5rem;
}

.main1 .leftz {
    margin: 3rem 1.8rem;
    width: 100%;
    display: flex;
    gap: 4rem;
}

.main1 .leftz .top {
    /* width: 100%; */
    padding: 1rem 4.5rem;
    overflow: hidden;
}

.main1 .leftz .top img {
    height: 34rem;
}

.main1 .leftz .bottom {
    margin: 1rem 0rem;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
}

.main1 .leftz .bottom h3 {
    font-size: 1.8rem;
}

.main1 .leftz .bottom p {
    font-size: 1.4rem;
}

.edit-blog {
    margin: 10px 0;
}

.edit-blog label {
    font-size: 2rem;

}

.author {
    margin: 1rem 0rem;
}

.genrez {
    margin: 1rem 0rem;
}

.rel_img {
    margin: 0.5rem 0rem;
}

.more-img {
    margin: 0.5rem 0rem;
}

.butun {
    margin: 1rem 0rem;
    overflow: hidden;
    height: 4rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.butun i {
    font-size: 2.5rem;
    color: #9B7EDA;
    padding: 10px;
}

#EDIT {
    margin: 1rem 0rem;
    --purple: #9B7EDA;
    font-size: 18px;
    padding: 0.8em 3em;
    letter-spacing: 0.08em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--purple);
    background: linear-gradient(to right, rgba(155, 126, 218, 0.1) 1%, transparent 40%, transparent 60%, rgba(155, 126, 218, 0.1) 100%);
    color: var(--purple);
    box-shadow: inset 0 0 10px rgba(155, 126, 218, 0.4), 0 0 9px 3px rgba(155, 126, 218, 0.1);
}

#EDIT:hover {
    color: #BFA3F3;
    box-shadow: inset 0 0 10px rgba(155, 126, 218, 0.6), 0 0 9px 3px rgba(155, 126, 218, 0.2);
}

#EDIT:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(155, 126, 218, 0.1) 40%, rgba(155, 126, 218, 0.1) 60%, transparent 100%);
}

#EDIT:hover:before {
    transform: translateX(15em);
}


/* Main ends */






@media (max-width:768px) {
    nav {
        background-color: #8B5FBF;
        width: 100%;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        height: 3.4rem;
        width: 100%;
        box-shadow: 0px 20px 20px 0px #00000085;
        z-index: 2;
    }

    .container .left {
        font-size: 1.6rem;
        padding: 9px 8px;

        color: #F5F3F7;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
    }

    .container .toggle {
        display: none;
    }

    .container .dropdown {
        position: absolute;
        right: 0;
        top: 100%;
        width: 100%;
        display: none;
        font-size: 2rem;
        background-color: #000000da;
        color: #ffffff;
        text-align: center;
    }

    .open {
        display: block !important;
    }

    .container .dropdown ul li {
        z-index: 10;
        list-style: none;
    }

    .container .dropdown a {
        text-decoration: none;
        color: #ffffff;
    }


    .container .dropdown ul li:hover {
        background-color: #222831;
    }

    .container .right .items {
        padding: 14px 14px;
        font-family: 'Roboto', sans-serif;
        display: none;
    }

    .container .toggle {
        display: block;
        margin: 10px;
        font-size: 2rem;
    }
}