* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222831;
    color: #F5F3F7;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
nav {
    background: #8B5FBF;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 3.4rem;
    box-shadow: 0px 20px 20px 0px #00000085;
    z-index: 2;
}

.container .left {
    font-size: 1.4rem;
    padding: 14px 14px;
    margin: 0 50px;
    color: #F5F3F7;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.container .right {
    padding: 14px 14px;
    font-family: 'Roboto', sans-serif;
    /* position: relative; */
}

.container .toggle {
    display: none;
}

.container .dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    display: none;
    font-size: 2rem;
    background-color: #000000da;
    color: #ffffff;
    text-align: center;
}

.container .dropdown ul li {
    z-index: 10;
    list-style: none;
}

.container .dropdown a {
    text-decoration: none;
    color: #ffffff;
}


.container .dropdown ul li:hover {
    background-color: #222831;
}

.container .right .items {
    display: flex;
    justify-content: center;
}

.container .right .items li {
    list-style: none;
    margin: 0 22px;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

.container .right .items a {
    text-decoration: none;
    color: #F5F3F7;
}

/* navbar ends */
/* footer */
footer {
    background: #8B5FBF;
    color: #F5F3F7;
    height: 3.4rem;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px -5px 20px 0px #000000;
}

.foot {
    display: flex;
    justify-content: center;
    padding: 14px;
}

/* footer ends */


/* main */
.parallex {
    height: 90vh;
    background-image: url('/static/img/Cloudy (4).svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.parallex h1 {
    font-size: 10rem;
    margin-top: 4rem;
    color: rgb(6, 5, 5);
}

.parallex p {
    font-weight: 600;
    font-size: 3rem;
}

.parallex button {
    height: 4rem;
    width: 14rem;
    background-color: #F5F3F7;
    font-size: 1.5rem;
    border-radius: 5rem;
    margin: 0.5rem;
    transition: font-size 0.3s ease-in-out;
}

.parallex button:hover {
    cursor: pointer;
    font-size: 1.8rem;
    box-shadow: 0px 6px 20px 0px #524272c8;
}

.box {
    height: 100%;
    width: 100%;
    display: none;
}

.open1 {
    display: block !important;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.form_elem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.form_elem .andya {
    margin: 0;
    height: 25rem;
}

.buton input {
    height: 3rem;
    width: 12rem;
    border-radius: 14px;
    font-size: 1.6rem;
    margin: 17px 0px;
}

.buton input:hover {
    box-shadow: 0px 6px 20px 0px #000000;
    cursor: pointer;
}

.form h1 {
    font-size: 5rem;
    margin: 25px 0px;
}

.element {
    display: flex;
    justify-content: center;
    margin: 12px 0px;
    flex-direction: column;
}

.element label {
    font-size: 2.1rem;
    margin: 5px 0px;
}

.element input {
    height: 2.5rem;
    width: 22rem;
    border-radius: 10px;
    font-size: 1.5rem;
}

.element #desc {
    height: 20rem;
    width: 40rem;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 10px;
}

.element select {
    height: 2.5rem;
    width: 22rem;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0px 10px;
}

.element input::-webkit-file-upload-button {
    height: 2.5rem;
    font-size: 1.5rem;
}

.sVg {
    height: 300px;
    width: 300px;
}

.sVg2 {
    height: 300px;
    width: 300px;
}



/* main ends*/


@media (max-width:1024px) {
    .parallex h1 {
        font-size: 9rem;
        margin-top: 4rem;
        color: rgb(6, 5, 5);
    }

    .parallex button {
        height: 4rem;
        width: 12rem;
        background-color: #F5F3F7;
        font-size: 1.5rem;
        border-radius: 5rem;
        margin: 0.5rem;
        transition: font-size 0.3s ease-in-out;
    }

    .element #desc {
        height: 20rem;
        width: 30rem;
        border-radius: 10px;
        font-size: 1.5rem;
        padding: 10px;
    }
}

@media (max-width:768px) {
    .container .right {
        display: none;
    }

    .container .toggle {
        display: block;
        font-size: 1.5rem;
        margin: 0 10px;
    }

    .open {
        display: block !important;
    }

    .container .left {
        font-size: 1.4rem;
        /* padding: 14px 14px; */
        margin: 0 14px;
        color: #F5F3F7;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
    }

    .parallex h1 {
        font-size: 7.3rem;
        margin-top: 4rem;
        color: rgb(6, 5, 5);
    }

    .parallex p {
        font-weight: bolder;
        font-size: 2.8rem;
    }

    .parallex button {
        height: 3.5rem;
        width: 11rem;
        background-color: #F5F3F7;
        font-size: 1.4rem;
        border-radius: 5rem;
        margin: 0.5rem;
        transition: font-size 0.3s ease-in-out;
    }

    .form h1 {
        font-size: 4.5rem;
        margin: 25px 0px;
    }

    .form_elem {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
    }

    .element input {
        height: 2.5rem;
        width: 30rem;
        border-radius: 10px;
        font-size: 1.5rem;
    }

    .element select {
        height: 2.5rem;
        width: 30rem;
        font-size: 1.5rem;
        border-radius: 10px;
        padding: 0px 10px;
    }

    .form_elem .andya {
        margin: 0;
        height: 22rem;
    }

}

@media (max-width:426px) {
    .parallex h1 {
        font-size: 4rem;
        margin-top: -4rem;
        color: rgb(6, 5, 5);
    }

    .parallex button {
        height: 3rem;
        width: 10rem;
        background-color: #F5F3F7;
        font-size: 1.3rem;
        border-radius: 5rem;
        margin: 0.5rem;
        transition: font-size 0.3s ease-in-out;
    }

    .parallex p {
        font-weight: bolder;
        font-size: 1.8rem;
        margin: 10px 0px;
    }

    footer {
        display: flex;
        background: #8B5FBF;
        color: #F5F3F7;
        height: 3.4rem;
        font-size: 1.4rem;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px -5px 20px 0px #000000;
        justify-content: center;
        align-items: center;
    }

    .foot {
        display: flex;
        justify-content: center;
        padding: 0px;
    }

    .form h1 {
        font-size: 3.5rem;
        margin: 25px 0px;
    }

    .form_elem .andya {
        margin: 0;
        height: 22rem;
        padding: 22px 0px;
    }

    .element input {
        height: 2.5rem;
        width: 24rem;
        border-radius: 10px;
        font-size: 1.5rem;
    }

    .element select {
        height: 2.5rem;
        width: 24rem;
        font-size: 1.5rem;
        border-radius: 10px;
        padding: 0px 10px;
    }

    .element #desc {
        height: 13rem;
        width: 22rem;
        border-radius: 10px;
        font-size: 1.5rem;
        padding: 10px;
    }

    .buton input {
        height: 2.8rem;
        width: 10rem;
        border-radius: 14px;
        font-size: 1.6rem;
        margin: 17px 0px;
    }

    .form_elem {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

}

@media (max-width:376px) {
    .parallex h1 {
        font-size: 3.4rem;
        margin-top: -4rem;
        color: rgb(6, 5, 5);
    }

    footer {
        display: flex;
        background: #8B5FBF;
        color: #F5F3F7;
        height: 3.4rem;
        font-size: 1.3rem;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px -5px 20px 0px #000000;
        justify-content: center;
        align-items: center;
    }

    .element select {
        height: 2.5rem;
        width: 21rem;
        font-size: 1.5rem;
        border-radius: 10px;
        padding: 0px 10px;
    }

    .element input {
        height: 2.5rem;
        width: 21rem;
        border-radius: 10px;
        font-size: 1.5rem;
    }

    .element label {
        font-size: 2rem;
        margin: 5px 0px;
    }

    .element #desc {
        height: 13rem;
        width: 20.5rem;
        border-radius: 10px;
        font-size: 1.5rem;
        padding: 10px;
    }

    .parallex p {
        font-weight: bolder;
        font-size: 1.6rem;
        margin: 10px 0px;
    }
}

@media (max-width:321px) {
    .parallex {
        height: 85vh;
    }

    .parallex p {
        font-weight: bolder;
        font-size: 1.4rem;
        margin: 10px 0px;
    }

    .parallex h1 {
        font-size: 3rem;
        margin-top: -4rem;
        color: rgb(6, 5, 5);
    }

    footer {
        display: flex;
        background: #8B5FBF;
        color: #F5F3F7;
        height: 3.4rem;
        font-size: 1.1rem;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px -5px 20px 0px #000000;
        justify-content: center;
        align-items: center;
    }

    .form h1 {
        font-size: 2.8rem;
        margin: 25px 0px;
    }

    .element input {
        height: 2.5rem;
        width: 18rem;
        border-radius: 10px;
        font-size: 1.5rem;
    }

    .element select {
        height: 2.5rem;
        width: 18rem;
        font-size: 1.5rem;
        border-radius: 10px;
        padding: 0px 10px;
    }

    .element label {
        font-size: 1.7rem;
        margin: 5px 0px;
    }

    .form_elem .andya {
        margin: 0;
        height: 22rem;
        padding: 16px 0px;
    }

    .element #desc {
        height: 13rem;
        width: 17.5rem;
        border-radius: 10px;
        font-size: 1.5rem;
        padding: 10px;
    }
}