* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222831;
    color: #F5F3F7;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
nav {
    background: #8B5FBF;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 3.4rem;
    box-shadow: 0px 20px 20px 0px #00000085;
    z-index: 2;
}

.container .left {
    font-size: 1.4rem;
    padding: 14px 14px;
    margin: 0 50px;
    color: #F5F3F7;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.container .right {
    padding: 14px 14px;
    font-family: 'Roboto', sans-serif;
    /* position: relative; */
}

.container .toggle {
    display: none;
}

.container .dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    display: none;
    font-size: 2rem;
    background-color: #000000da;
    color: #ffffff;
    text-align: center;
}

.container .dropdown ul li {
    z-index: 10;
    list-style: none;
}

.container .dropdown a {
    text-decoration: none;
    color: #ffffff;
}


.container .dropdown ul li:hover {
    background-color: #222831;
}

.container .right .items {
    display: flex;
    justify-content: center;
}

.container .right .items li {
    list-style: none;
    margin: 0 22px;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

.container .right .items a {
    text-decoration: none;
    color: #F5F3F7;
}

/* navbar ends */


/* footer */
footer {
    background: #8B5FBF;
    color: #F5F3F7;
    height: 3.4rem;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px -5px 20px 0px #000000;
}

.foot {
    display: flex;
    justify-content: center;
    padding: 14px;
}

/* footer ends */

/* body */
/* carousal */
.carousal {
    background-image: url('/static/img/Untitled (1).jpeg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousal h1 {
    font-size: 6.25rem;
    /* margin-top: 15rem; */
}

.carousal p {
    font-size: 30px;
    text-align: center;
    margin: 0 10rem;
    padding: 10px;
}

.carousal p span {
    color: #F5F3F7;
    font-weight: bolder;
}

/* carousalend */


.container1 {
    display: flex;
    justify-content: space-around;
    box-shadow: 0px -10px 20px 0px #000000;
    /* align-items: center; */
}

.container1 .left h1 {
    font-size: 3rem;
    padding: 3rem;
}

.container1 .left p {
    font-size: 1.5rem;
    padding: 2.5rem;
}

.container1 .right svg {
    height: 600px;
    width: 600px;
    margin: 15px;
}


/* About Us section */
.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 98.8vw;

    /* background-color: #212121; */
}



.container2 .right {
    /* background-color: #212121; */
    height: 30rem;
    width: 36rem;
    margin: 3rem;
}

.container2 .right .content h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin: 20px;
}

.container2 .right .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container2 .right .content .elem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* flex-direction: column; */
}

.container2 .right .content .elem i {
    font-size: 4rem;
    margin: 1.5rem;
    /* box-shadow: 0px 8px 20px 0px #000000; */
}

.container2 .right .content .elem span {
    font-size: 1.5rem;
    font-weight: bold;
}

.container2 .right .content .elem p {
    font-size: 1.1rem;
    padding: 1rem;
}

.container2 .left {
    height: 36rem;
}

.container2 .left img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30rem;
    margin: 3rem;
    box-shadow: 2px 6px 20px 0px #000000
}


/* blogs section */
/* .blogs{
    box-shadow: 0px -10px 20px 0px #000000;
} */
.blogs .container3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
}

.blogs .head h1 {
    text-align: center;
    margin: 2rem 1rem;
    font-size: 3rem;
    font-weight: bolder;
}

.blogs .card {
    flex-direction: column;
    background-color: #897fcf70;
    height: 30rem;
    width: 25rem;
    border-radius: 10px;
    box-shadow: 2px 6px 20px 0px #00000030;
}

.blogs .card:hover {
    box-shadow: 0px 0px 20px 0px #000000;
}

.blogs .card .image {
    overflow: hidden;
}

.blogs .card .image img {
    height: 17rem;

    transition: 0.5s all ease-in-out;


}

.blogs .card .image img:hover {
    transform: scale(1.5);
}

.blogs .card h1 {
    margin: 1rem;
    text-align: left;
}

.blogs .card p {
    margin: 1rem;
}

.container4 {
    width: 100%;
    height: 100vh;
}


.contributor {
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 82vh;
    margin: 0px;
}

.contributor .elem {
    background-color: #897fcf70;
    width: 22rem;
    height: 30rem;
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 6px 20px 0px #00000030;
}

.contributor .elem .image {
    overflow: hidden;
    height: 22rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contributor .elem .image img {
    height: 22rem;
}

.contributor .elem .name {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 10px 0px;
}

.contributor .elem .socials {
    height: 3rem;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contributor .elem .socials .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 3rem
}

.container4 .head1 {
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
}

.contributor .elem .socials .icons i {
    font-size: 2.2rem;
    margin: 0rem 1.5rem;
}

.contributor .elem .socials .icons a {
    color: #F5F3F7;
}

.contributor .elem:hover {
    box-shadow: 0px 0px 20px 0px #000000;
}





@media (max-width:1024px) {
    nav {
        background-color: #8B5FBF;
        width: 100%;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        height: 3.4rem;
        width: 100%;
        box-shadow: 0px 20px 20px 0px #00000085;
        z-index: 2;
    }

    .carousal {
        width: 100%;
    }

    .carousal h1 {
        font-size: 4.25rem;
    }

    .carousal p {
        font-size: 22px;
        text-align: center;
        margin: 0 10rem;
        padding: 10px;
    }

    .container1 {
        width: 100%;
    }

    footer {
        width: 100%;
        background: #8B5FBF;
        color: #F5F3F7;
        height: 3.4rem;
        font-size: 1.4rem;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px -5px 20px 0px #000000;
    }

    .foot {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 14px;
    }

    .container1 {
        display: flex;
        justify-content: space-around;
        box-shadow: 0px -10px 20px 0px #000000;
        /* align-items: center; */
    }

    .container1 .left h1 {
        font-size: 2.5rem;
        padding: 1.5rem;
    }

    .container1 .left p {

        font-size: 1.5rem;
        padding: 1.5rem;
    }

    .container1 .right svg {
        height: 500px;
        width: 500px;
        margin: 15px;
    }

    .blogs {
        width: 100%;
        margin: 2rem 0;
        margin-bottom: 6rem;
    }

    .blogs .container3 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .blogs .head h1 {
        text-align: center;
        margin: 2rem 1rem;
        font-size: 2.5rem;
        font-weight: bolder;
    }

    .blogs .card {
        flex-direction: column;
        background-color: #897fcf70;
        height: 25rem;
        width: 17rem;
        border-radius: 10px;
        box-shadow: 2px 6px 20px 0px #00000030;
    }

    .blogs .card:hover {
        box-shadow: 0px 0px 20px 0px #000000;
    }

    .blogs .card .image {
        overflow: hidden;
    }

    .blogs .card .image img {
        height: 12rem;

        transition: 0.5s all ease-in-out;


    }

    .blogs .card .image img:hover {
        transform: scale(1.5);
    }

    .blogs .card h1 {
        font-size: 1.5rem;
        margin: 0.5rem;
        text-align: left
    }

    .blogs .card p {
        margin: 1rem;
    }

    .container2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 165vh;
        width: 100%;
        flex-direction: column-reverse;
    }



    .container2 .right {
        /* background-color: #212121; */
        height: 30rem;
        width: 36rem;
        margin: 3rem;
    }

    .container2 .right .content h2 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: bolder;
        margin: 15px;
    }

    .container2 .right .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .container2 .right .content .elem {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        /* flex-direction: column; */
    }

    .container2 .right .content .elem i {
        font-size: 3rem;
        padding: 0.5rem 0rem;
        /* box-shadow: 0px 8px 20px 0px #000000; */
    }

    .container2 .right .content .elem span {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .container2 .right .content .elem p {
        font-size: 1.1rem;
        padding: 0.5rem;
    }

    .container2 .left {
        height: 36rem;
    }

    .container2 .left img {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 25rem;
        margin: 3rem;
        box-shadow: 2px 6px 20px 0px #000000
    }

    .foot {
        padding: 15px 0px;
    }

    .container4 .head1 {
        font-size: 2rem;
        text-align: center;
        font-weight: bolder;
        margin: 25px 0px;
    }

    .contributor .elem .image {
        overflow: hidden;
        height: 22rem;
        width: 18rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contributor .elem .image img {
        height: 20rem;
    }

}

@media (max-width:818px) {
    nav {
        background-color: #8B5FBF;
        width: 100%;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        height: 3.4rem;
        width: 100%;
        box-shadow: 0px 20px 20px 0px #00000085;
        z-index: 2;
    }

    .container .left {
        font-size: 1.6rem;
        padding: 9px 8px;

        color: #F5F3F7;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
    }

    .container .toggle {
        display: none;
    }

    .container .dropdown {
        position: absolute;
        right: 0;
        top: 100%;
        width: 100%;
        display: none;
        font-size: 2rem;
        background-color: #000000da;
        color: #ffffff;
        text-align: center;
    }

    .open {
        display: block !important;
    }

    .container .dropdown ul li {
        z-index: 10;
        list-style: none;
    }

    .container .dropdown a {
        text-decoration: none;
        color: #ffffff;
    }


    .container .dropdown ul li:hover {
        background-color: #222831;
    }

    .container .right .items {
        padding: 14px 14px;
        font-family: 'Roboto', sans-serif;
        display: none;
    }

    .container .toggle {
        display: block;
        margin: 10px;
        font-size: 2rem;
    }

    .blogs .card {
        margin-top: 24px;
    }

    .blogs .container3 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width:768px) {
    nav {
        background-color: #8B5FBF;
        width: 100%;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        height: 3.4rem;
        width: 100%;
        box-shadow: 0px 20px 20px 0px #00000085;
        z-index: 2;
    }

    .container .left {
        font-size: 1.6rem;
        padding: 9px 8px;

        color: #F5F3F7;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
    }

    .container .toggle {
        display: none;
    }

    .container .dropdown {
        position: absolute;
        right: 0;
        top: 100%;
        width: 100%;
        display: none;
        font-size: 2rem;
        background-color: #000000da;
        color: #ffffff;
        text-align: center;
    }

    .open {
        display: block !important;
    }

    .container .dropdown ul li {
        z-index: 10;
        list-style: none;
    }

    .container .dropdown a {
        text-decoration: none;
        color: #ffffff;
    }


    .container .dropdown ul li:hover {
        background-color: #222831;
    }

    .container .right .items {
        padding: 14px 14px;
        font-family: 'Roboto', sans-serif;
        display: none;
    }

    .container .toggle {
        display: block;
        margin: 10px;
        font-size: 2rem;
    }

    .carousal {
        width: 100%;
    }

    .carousal h1 {
        font-size: 4.25rem;
    }

    .carousal p {
        font-size: 18px;
        text-align: center;
        margin: 0 10rem;
        padding: 10px;
    }



    footer {
        margin-top: 24em;
        width: 100%;
        background: #8B5FBF;
        color: #F5F3F7;
        height: 3.4rem;
        font-size: 1.4rem;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px -5px 20px 0px #000000;
    }

    .foot {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 14px 0px;
    }

    .container1 {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: 0px -10px 20px 0px #000000;
        /* align-items: center; */
    }

    .container1 .left h1 {
        font-size: 2rem;
        padding: 1.5rem;
        text-align: center;
    }

    .container1 .left p {

        font-size: 1.5rem;
        padding: 1.5rem;
    }

    .container1 .right {
        text-align: center;
    }

    .container1 .right svg {
        height: 400px;
        width: 400px;
        margin: 15px;
    }

    .blogs {
        width: 100%;
        margin: 2rem 0;
        margin-bottom: 6rem;
    }

    .blogs .container3 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .blogs .head h1 {
        text-align: center;
        margin: 2rem 1rem;
        font-size: 2rem;
        font-weight: bolder;
    }

    .blogs .card {
        margin-top: 24px;
        flex-direction: column;
        background-color: #897fcf70;
        height: 25rem;
        width: 20rem;
        border-radius: 10px;
        box-shadow: 2px 6px 20px 0px #00000030;
    }

    .blogs .card:hover {
        box-shadow: 0px 0px 20px 0px #000000;
    }

    .blogs .card .image {
        overflow: hidden;
    }

    .blogs .card .image img {
        height: 14rem;

        transition: 0.5s all ease-in-out;


    }

    .blogs .card .image img:hover {
        transform: scale(1.5);
    }

    .blogs .card h1 {
        margin: 0.5rem;
        text-align: left;
    }

    .blogs .card p {
        margin: 1rem;
    }

    .container2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        height: 155vh;
        width: 100%;

        /* background-color: #212121; */
    }



    .container2 .right {
        /* background-color: #212121; */
        height: 30rem;
        width: 36rem;
        margin: 3rem;
    }

    .container2 .right .content h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
        margin: 12px
    }

    .container2 .right .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .container2 .right .content .elem {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        /* flex-direction: column; */
    }

    .container2 .right .content .elem i {
        font-size: 3rem;
        padding: 0.5rem 0rem;
        /* box-shadow: 0px 8px 20px 0px #000000; */
    }

    .container2 .right .content .elem span {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .container2 .right .content .elem p {
        font-size: 1.3rem;
        padding: 0.5rem;
    }

    .container2 .left {
        height: 36rem;
    }

    .container2 .left img {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 22rem;
        margin: 3rem;
        box-shadow: 2px 6px 20px 0px #000000
    }

    .contributor {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 168vh;
        margin: 0px;
        flex-wrap: wrap;
    }

    .contributor .elem {
        background-color: #897fcf70;
        width: 20rem;
        height: 30rem;
        margin: 1rem;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 2px 6px 20px 0px #00000030;
    }

}

@media (max-width:426px) {
    nav {
        width: 100%;
        background: #8B5FBF;
    }

    .container .left {
        margin: 0 20px;
    }

    .carousal {
        background-image: url('/static/img/Untitled (1).jpeg');
        height: 75vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .carousal h1 {
        font-size: 2.5rem;
    }

    .carousal p {
        font-size: 1.2rem;
        margin: 0 10px;
    }

    .container1 .left h1 {
        font-size: 2.5rem;
        padding: 1.2rem;
        text-align: center;
    }

    .container1 .left p {
        font-size: 1.4rem;
        padding: 1.2rem;
    }

    .container1 .right svg {
        height: 300px;
        width: 300px;
    }

    .blogs .card {
        margin-top: 15px;
        flex-direction: column;
        background-color: #897fcf70;
        height: 23rem;
        width: 17rem;
        border-radius: 10px;
        box-shadow: 2px 6px 20px 0px #00000030;
    }

    .blogs .card .image img {
        height: 12rem;
        transition: 0.5s all ease-in-out;
    }

    .blogs .card h1 {
        margin: 0.5rem;
        text-align: left;
        font-size: 1.4rem;
    }

    .blogs .card p {
        margin: 0.5rem;
    }

    .container2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        height: 145vh;
        width: 100%;
    }

    .container2 .right {
        width: 24rem;
        margin: 1rem;
    }

    .container2 .left {
        height: 20rem;
    }

    .container2 .left img {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 16rem;
        margin: 0.5rem;
        box-shadow: 2px 6px 20px 0px #000000;
    }

    footer {
        margin-top: 32em;
        width: 100%;
        background: #8B5FBF;
        color: #F5F3F7;
        height: 3.4rem;
        font-size: 1.4rem;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px -5px 20px 0px #000000;
    }

    .foot {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0px;
        /* margin-top: -8px; */
        height: 3.4rem;
        align-items: center;
    }

    .contributor .elem {
        background-color: #897fcf70;
        width: 17rem;
        height: 23rem;
        margin: 1rem;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 2px 6px 20px 0px #00000030;
    }

    .contributor .elem .image img {
        height: 16rem;
    }

    .contributor .elem .name {
        font-size: 2rem;
        font-weight: bold;
        margin: 10px 0px
    }

    .contributor .elem .socials .icons i {
        font-size: 1.9rem;
        margin: 0rem 1.5rem;
    }

}

@media (max-width:376px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        height: 3.4rem;
        width: 100%;
        box-shadow: 0px 20px 20px 0px #00000085;
        z-index: 2;
    }

    .container .left {
        margin: 0 0px;
    }

    .carousal h1 {
        font-size: 2.5rem;
    }

    .carousal p {
        font-size: 1.2rem;
        margin: 0 10px;
    }

    .container1 {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: 0px -10px 20px 0px #000000;
    }

    .container1 .left h1 {
        font-size: 2.3rem;
        padding: 1rem;
        text-align: center;
    }

    .container1 .left p {
        font-size: 1.3rem;
        padding: 1.1rem;
    }

    .blogs {
        width: 100%;
        margin: 2rem 0;
        margin-bottom: 6rem
    }

    .blogs .head h1 {
        text-align: center;
        margin: 1rem 1rem;
        font-size: 2rem;
        font-weight: bolder;
    }

    .blogs .container3 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .blogs .card {
        margin-top: 20px;
        flex-direction: column;
        background-color: #897fcf70;
        height: 23rem;
        width: 17rem;
        border-radius: 10px;
        box-shadow: 2px 6px 20px 0px #00000030
    }

    .container2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        height: 142vh;
        width: 100%;
    }

    .container2 .left {
        height: 20rem;
    }

    .container2 .left img {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 14rem;
        margin: 0;
        box-shadow: 2px 6px 20px 0px #000000;
    }

    .container2 .right {
        width: 100%;
        margin: 0rem;
    }

    .container2 .right .content h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
        margin: 12px 0px;
    }

    .container2 .right .content .elem {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;
    }

    .container2 .right .content .elem span {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .container2 .right .content .elem p {
        font-size: 1.3rem;
    }

    .container2 .right .content .elem {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .container2 .right .content .elem i {
        font-size: 2.5rem;
        padding: 0.5rem 0rem
    }

    .container2 .right .content .elem span {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .container2 .right .content .elem p {
        font-size: 1.3rem;
    }

    footer {
        width: 100%;
        background: #8B5FBF;
        color: #F5F3F7;
        height: 3.4rem;
        font-size: 1.4rem;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px -5px 20px 0px #000000;
    }

    .foot {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0px;
        height: 3.4rem;
        align-items: center;
        font-size: 1.3rem;
    }
}

@media (max-width:321px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        height: 3.4rem;
        width: 100%;
        box-shadow: 0px 20px 20px 0px #00000085;
        z-index: 2;
    }

    .carousal h1 {
        font-size: 2.7rem;
    }

    .carousal p {
        font-size: 1.1rem;
    }

    .container1 .left h1 {
        font-size: 2.1rem;
        padding: 0.8rem;
        text-align: center;
    }

    .container1 .left p {
        font-size: 1.2rem;
        padding: 0.8rem;
    }

    .container1 .left p {
        font-size: 1.2rem;
        padding: 0.8rem;
    }

    .container1 .right svg {
        height: 250px;
        width: 250px;
    }
    .blogs {
        width: 100%;
        margin: 2rem 0;
        margin-bottom: 4rem;}


    .blogs .card {
        margin-top: 20px;
        flex-direction: column;
        background-color: #897fcf70;
        height: 22rem;
        width: 16rem;
        border-radius: 10px;
        box-shadow: 2px 6px 20px 0px #00000030;
    }

    .blogs .card .image img {
        height: 11rem;
        transition: 0.5s all ease-in-out;
    }

    .blogs .card h1 {
        margin: 0.3rem;
        text-align: left;
        font-size: 1.3rem;
    }

    .container2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
    }

    .container2 .right {
    width: 100%;
    height: 100%;
    }
    .container2 .left {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .container2 .right .content h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
    }

    .container2 .right .content .elem span {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .container2 .right .content .elem p {
        font-size: 1.1rem;
        padding: 0.3rem;
    }

    .container2 .right .content .elem i {
        font-size: 2.5rem;
        padding: 0.5rem 0.5rem;
    }

    .container2 .left img {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 11rem;
        margin: 0;
        box-shadow: 2px 6px 20px 0px #000000;
    }

    .container2 .right .content .elem i {
        font-size: 2.5rem;
        padding: 0.5rem 0.5rem;
        margin: 0px;
    }

    .foot {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0px;
        height: 3.4rem;
        align-items: center;
        font-size: 1.1rem
    }

    footer {
        width: 100%;
        background: #8B5FBF;
        color: #F5F3F7;
        height: 3.4rem;
        font-size: 1.4rem;
        margin-top: 38rem;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px -5px 20px 0px #000000;
    }

    .contributor .elem {
        background-color: #897fcf70;
        width: 15rem;
        height: 21rem;
        /* margin: 1rem; */
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 2px 6px 20px 0px #00000030;
    }

    .contributor .elem .image img {
        height: 16rem;
    }

    .container4 .head1 {
        font-size: 2rem;
        text-align: center;
        font-weight: bolder;
        margin-top: 3em;
    }

}

