*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222831;
    color: #EEEEEE;
}

nav{
    position: relative;
    background: #8B5FBF;
    z-index: 3;
}

.container{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 3.4rem;
    box-shadow: 0px -8px 20px 0px #000000;
    font-size: 25px;
    
}
.container a{
    text-decoration: none;
    color:#242128;
    font-weight: bolder;
}

.container1{
    
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    color:#242128;
}
.container1 .svg1{
    height: 650px;
    width: 650px;
}
.formCard{
    background-color: #bbb9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40rem;
    width: 28rem;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px 0px #000000;
}
.formCard .elem{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin: 10px;
}
.formCard h1{
    font-size: 3.1rem;
    font-weight: bolder;
}
.formCard div label{
    font-size: 2.1rem;
    font-weight: bold;
}
.formCard div input{
    height: 35px;
    width: 18rem;
    font-size: 1.2rem;
    background-color:#f7edff;
}
.formCard .btn1{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.2rem;
    width: 12rem;
    margin-top: 22px;
    border-radius: 8px;
    font-size: 1.4rem;
}
.formCard div a{
    text-decoration: none;
}
.formCard .btn1:hover{
    background-color: #f6e9ff;
    color: #222831;
    border: 3px solid #878787;
    box-shadow: 0px 0px 20px 0px #878787;
    cursor: pointer;
}