{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/blog.css' %}">
    <script src="https://kit.fontawesome.com/d3adfc3387.js" crossorigin="anonymous"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navbar starts -->
    <nav>
        <div class="container">
            <div class="left">Scribble Haven</div>
            <div class="right">
                <ul class="items">
                    <li><a href="home">Home</a></li>
                    <li><a href="feed">Feeds</a></li>
                    <li><a href="create">Create</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Accout</a></li>
                </ul>
            </div>
            <div class="toggle"><i class="fa-solid fa-bars"></i></div>
            <div class="dropdown">
                <ul class="Li-items">
                    <li><a href="home">Home</a></li>
                    <li><a href="feed">Feeds</a></li>
                    <li><a href="create">Create</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Accout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar ends -->
    <main>
        <div class="title">
            <h1>{{blog.title}}</h1>
        </div>
        <div class="main1">
            <div class="leftz">
                <div class="top"><img src="{{blog.file.url}}" alt=""></div>
                <div class="bottom">
                    <div class="author">
                        <h3>Author</h3>
                        <p>{{blog.author}}</p>
                    </div>
                    <div class="genrez">
                        <h3>Genre</h3>
                        <p>{{blog.genre}}</p>
                    </div>
                    <div class="rel-img">
                        <h3>Related images:</h3>
                    </div>
                    <div class="more-img">
                        <form action="">
                            <input type="file" name="more_img" id="">
                            <input type="submit" value="Upload">
                        </form>
                    </div>
                    <div class="edit-blog">
                        <label for="EDIT">Click here to edit your blog</label>
                        <div class="butun">
                            <i class="fa-solid fa-hand-point-right"></i><a href="{% url 'edit_blog' blog.id %}" id="EDIT">EDIT</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="rightz">
                <p>{{blog.description}}</p>
            </div>
        </div>
    </main>

    <!-- footer starts -->
    <footer>
        <div class="foot">
            Created and maintained By The G.O.A.T
        </div>
    </footer>
    <!-- footer ends -->
    <script>
        const toggleBtn = document.querySelector('.toggle')
        const dropdownIcon = document.querySelector('.fa-bars')
        const dropdown = document.querySelector('.dropdown')

        toggleBtn.onclick = function () {
            dropdown.classList.toggle('open')
            let isOpen = dropdown.classList.contains('open')
            if (isOpen) {
                dropdownIcon.classList.add('fa-xmark');
                dropdownIcon.classList.remove('fa-bars')
            }
            else {
                dropdownIcon.classList.add('fa-bars');
                dropdownIcon.classList.remove('fa-xmark')
            }
        }
    </script>
</body>

</html>