{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <script src="https://kit.fontawesome.com/d3adfc3387.js" crossorigin="anonymous"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navbar starts -->
    <nav>
        <div class="container">
            <div class="left">Scribble Haven</div>
            <div class="right">
                <ul class="items">
                    <li><a href="home">Home</a></li>
                    <li><a href="#">Feeds</a></li>
                    <li><a href="#">Create</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="toggle"><i class="fa-solid fa-bars"></i></div>
            <div class="dropdown">
                <ul class="Li-items">
                    <li><a href="home">Home</a></li>
                    <li><a href="#">Feeds</a></li>
                    <li><a href="#">Create</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar ends -->

    <main>
        <div class="parallex">
            <h1>GET STARTED</h1>
            <p>Dive into the world of Blogging</p>
            <button class="" id="AI">Generate</button>
        </div>
        <div class="box">
            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="form">
                    <h1>Create a blog</h1>
                    <div class="form_elem">
                        
                        <div class="andya">
                            <div class="element" id="form"><label for="title">Title</label>
                                <input type="text" id="title" name="title">
                            </div>
                            <div class="element"><label for="genre">Genre</label>
                                <select name="genre" id="genre">
                                    <option value="travel">Travel Blog</option>
                                    <option value="food">Food Blog</option>
                                    <option value="health">Health and fitness Blog</option>
                                    <option value="personal">Personal Blog</option>
                                    <option value="sports">Sports Blog</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="element"><label for="file">Files</label>
                                <input type="file" accept="video/*,image/*" multiple name="file"
                                id="file" >
                            </div>
                        </div>
                        <div class="element"><label for="desc">Describe Your Thoughts</label>
                            <textarea id="desc" name="description">
                            </textarea>

                        </div>
                        
                    </div>
                    <div class="buton">
                        <input type="submit" value="Create">
                    </div>
            </form>
        </div>
    </main>
    <!-- footer starts -->
    <footer>
        <div class="foot">
            Created and maintained By The G.O.A.T
        </div>
    </footer>
    <!-- footer ends -->


    <script>

        const toggleBtn = document.querySelector('.toggle')
        const dropdownIcon = document.querySelector('.fa-bars')
        const dropdown = document.querySelector('.dropdown')

        toggleBtn.onclick = function () {
            dropdown.classList.toggle('open')
            let isOpen = dropdown.classList.contains('open')
            if (isOpen) {
                dropdownIcon.classList.add('fa-xmark');
                dropdownIcon.classList.remove('fa-bars')
            }
            else {
                dropdownIcon.classList.add('fa-bars');
                dropdownIcon.classList.remove('fa-xmark')
            }
        }

        const drop = document.querySelector('#AI')
        const form = document.querySelector('.box')

        drop.addEventListener('click', () => {
            form.classList.toggle('open1')
            window.location = '#form'
        }
        )

    </script>
</body>

</html>